<div class="container">
    <mat-card class="card-width">
      <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Use the buttons below to navigate beetwen pages
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="links-button-row">
            <a mat-raised-button (click)="navigateToUp()">Up</a>
            <a mat-raised-button (click)="navigateToDown()"color="primary">Down</a>
            <a mat-raised-button (click)="navigateToReset()"color="accent">Reset</a>
          </div>
      </mat-card-actions>
    </mat-card>
  </div>
  